#Clients{
    min-height: 70vh;
    display: flex;
    align-items: center;
    background-image: url('../img/clientsbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include media(xs){
        min-height: 50vh;
    }
}