$background--color:black;
$icon--color:black;
$font--color:#ffffff;
$font--color--active:#000000;
$font--primary:'Fira Sans', sans-serif;
$transition--length: .8;

//default state
.menu-icon{
	$size: 30px;
	height: $size;
	width: $size;
	margin-top: 20px;
	z-index: 99999;
	cursor: pointer;
	&__line{
		height: 2px;
		width: $size;
		display: block;
		background-color: black;
		margin-bottom: 4px;
		transition: transform .2s ease, background-color .5s ease;
	}
	&__line-left{
		width: $size / 2;
	}
	&__line-right{
		width: $size / 2;
		float: right;
	}
}

.nav{
	$width: 100vw;
	$height: 100vh;
	$font--size--calc: calc(2vw + 10px);
	$transition--easing: cubic-bezier(.77,0,.175,1);
	&:before,&:after{
		content: "";
		position: fixed;
		width:$width;
		height:$height;
		background: rgba(#eaeaea, .0);
		z-index: -1;
		transition: transform $transition--easing $transition--length + s;
		transform: translateX(0%) translateY(-100%);
	}
	&:after{
		background: rgba(#ffffff, 0);
		transition-delay: 0s;
	}
	&:before{
		transition-delay: .1s;
	}
	&__content{
		position: fixed;
		top:50%;
		transform: translate(0%,-50%);
		width: 100%;
    	text-align: center;
		font-size: 1.5rem;
		font-weight: 200;
		cursor: pointer;
		visibility: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 6rem;
		> div{
			text-align: left;
			@include media(xs){
				text-align: center;
			}
		}
	}
	&__list-item{
		position: relative;
		/* display: inline-block; */
		transition-delay: $transition--length + s;
		opacity: 0;
		transform: translate(0%, 100%);
		transition: opacity .2s ease, transform .3s ease;
		margin-top: 25px;
		font-family: $light;
		@include media(xs){
            font-size: 22px;
        }
		&:before{
			content: "";
			position: absolute;
			background: #7F2629; ;
			width: 20px;
			height: 1px;
			top: 100%;
			transform: translate(0%, 0%);
			transition: all .3s ease;
			z-index: -1;
		}
		&:hover{
			&:before{
				width: 50px;
			}
		}
		&.current-menu-item{
			&:before{
				height: 3px;
			}
		}
	}
	&__social{
		font-size: 14px;
		margin-top: 4rem;
		transition-delay: $transition--length + s;
		opacity: 0;
		transform: translate(0%, 100%);
		transition: opacity .2s ease, transform .3s ease;
		@include media(xs){
            margin-top: 3rem;
        }
		li{
			margin: 0rem 3rem;
			transition: all .2s linear;
			&:hover{
				opacity: .8;
			}
			@include media(xs){
				display: block;
				margin: 1rem auto;
				font-size: 12px;
			}
			img{
				@include media(xs){
					width: 22px;
				}
				@include media(sm){
					width: 22px;
				}
			}
			&.ubi{
				cursor: default;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
}
.navbar-brand{
	margin-right: 4rem;
	@include media(xs){
		margin-right: 2rem;
	}
}

//active state
body.nav-active{
	$menu--items--count: 5;
	.menu-icon{
		&__line{
			background-color: #7F2629; 
			transform: translateX(0px) rotate(-45deg);
		}
		&__line-left{
			transform: translateX(1px) rotate(45deg);
		}
		&__line-right{
			transform: translateX(-2px) rotate(45deg);
		}
	}
	.nav{
		visibility:visible;
		&:before,&:after{
			transform: translateX(0%) translateY(0%);
		}
		&:after{
			background-color: white;
			transition-delay: .1s;
		}
		&:before{
			background-color: white;
			transition-delay: 0s;
			top: 0;
		}
		&__content{
			visibility: visible;
		}
		&__list-item,
		&__social{
			opacity: 1;
			transform: translateX(0%);
			transition: opacity .3s ease, transform .3s ease, color .3s ease;
			@for $i from 0 through $menu--items--count {
				&:nth-child(#{$i}){
					transition-delay: $transition--length * $i / 8 + .5 + s;
				}
			}
		}
	}
}