header{
  background-color: transparent;
  z-index: 2;
  position: relative;
  &.-bg{
    background-color: white!important;
    box-shadow: 0px 4px 24px -3px rgba(0, 0, 0, 0.1);
    transition: all .2s linear;
    .logotipe{
      width: 50px;
      transition: all .3s linear;
      @include media(xs){
        width: 40px;
      }
    }
    .rrss{
      li{
        img{
          transition: all .3s linear;
        }
      }
    }
  }
  nav{
    .container-fluid{
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 40px;
      @include media(xs){
        padding: 35px 45px 0px 45px;
      }
    }
    .navbar-toggler{
      border: none;
      &:focus{
        outline: none;
      }
    }
    .navbar-brand{
      img{
        @include media(sm){
          max-width: 70%;
        }
      }
    }
    .nav-item{
      @include media(sm){
        border-bottom: 1px solid #ccc;
        &:last-child{
          border-bottom: 0;
          margin-top: 1rem;
        }
      }
      .dropdown-toggle{
        @include media(sm){
          &:after{
            position: absolute;
            right: 0;
            top: 20px;
          }
        }
      }
      .dropdown-menu{
        @include media(sm){
          overflow: hidden;
        }
      }
      .dropdown-item{
        @include media(sm){
          border-bottom: 1px solid #ccc;
          margin-left: 30px;
          padding-left: 0;
        }
      }
      a.btn.btn-green{
        @include media(sm){
          display: block;
          margin: 0 auto;
          width: 40%;
          padding: 0;
          padding: 5px 20px;
          border-radius: 10px;
        }
      }
    }
    #headerMenu{
      @include media(sm){
        min-height: -webkit-fill-available;
        min-height: 100vh;
      }
      @include media(xs){
        overflow-y: auto;
        max-height: 100vh;
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
          display: none;
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;
        } 
      }
    }

    #mobileMenu{
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      background-color: $white;
      color: black;
      opacity: 0;
      transition: all .2s linear;
      display: none;
      
      touch-action: none;
      .navbar-brand{
        filter: invert(1);
        margin-bottom: 4rem;
      }
      ul{
        li{
          font-family: $medium;
          font-size: 22px;
        }
      }
      &.-open{
        opacity: 1;
        z-index: 999;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .closeMenu, .openMenu{
      position: absolute;
      right: 50px;
      top: 40px;
      font-size: 32px;
      z-index: 9999;
    }

  }
}